h1{
    color:brown;
    padding: 1px;

}

td {
    padding:8px;
    border:1px solid black;
}

.editable-cell{
    justify-content: space-between;
}

#name{
    color:brown;
    padding: 5px;


}

th{
    padding:8px;
    background-color: lightgrey; 
}