<!DOCTYPE html>
<html>
<head>
    <title>Data Structures and Algorithms Tracker</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>DS&A Tracker</h1>
    <form>
        <p>Add a new problem: </p>
        <label for ="name">Problem Name: </label>
        <input type="text" id="name" name="name">

        <label for="topic">Topic: </label>
        <input type="text" id="topic" name="topic">

        <label for="difficulty">Difficulty: </label>
        <select id="difficulty" name="difficulty">
            <option value="Easy">Easy</option>
            <option value="Medium">Medium</option>
            <option value = "Hard">Hard</option>
        </select>

        <input type="checkbox" id="needsHint" name="needsHint">
        <label for="needsHint">Needed a hint? </label>
        
        <button type="submit">Add Problem</button>
    </form>
    
    <button type="button" id="reviewButton">See Problems Needing Review</button>
    <input type="text" id="searchTopic" name="searchTopic">
    <button type="button" id="searchByTopic">Search by Topic</button>
    <input type="text" id="searchName" name="searchName">
    <button type="button" id="searchByName">Search by Name</button>

    <table>
        <tr>
            <th>Problem Name</th>
            <th>Topic</th>
            <th>Difficulty</th>
            <th>Last Reviewed</th>
            <th>Action</th>
        </tr>
        
    </table>
    <script>
        const button= document.querySelector("button")
        const nameInput=document.getElementById("name");
        const topicInput= document.getElementById("topic");
        const difficultyInput= document.getElementById("difficulty");
        const neededHint=document.getElementById("needsHint")
        const reviewButton=document.getElementById("reviewButton")
        const searchTopicBttn= document.getElementById("searchByTopic")
        const searchNameBttn= document.getElementById("searchByName")
        const searchTopicInput=document.getElementById("searchTopic")
        const searchNameInput=document.getElementById("searchName")
        
        reviewButton.addEventListener("click", function(event){
            event.preventDefault();
            fetch("/get-needs-review")
            .then(response=> response.json())
            .then(data=> {
                const table= document.querySelector("table")
                table.innerHTML= `<tr>
                    <th>Problem Name</th>
                    <th>Topic</th>
                    <th>Difficulty</th>
                    <th>Last Reviewed</th>
                    <th>Action</th>
                </tr>`

                for (const problem of data) {
                    buildRow(problem,table);
                 
                }
            })

        });

        searchTopicBttn.addEventListener("click", function(event){
            event.preventDefault();
            fetch("/search-by-topic?partial="+searchTopicInput.value)
            .then(response=>response.json())
            .then(data=>{
                const table= document.querySelector("table")
                table.innerHTML= `<tr>
                    <th>Problem Name</th>
                    <th>Topic</th>
                    <th>Difficulty</th>
                    <th>Last Reviewed</th>
                    <th>Action</th>
                </tr>`
                for (const problem of data) {
                    buildRow(problem,table);
                }
            })
        })
        
        searchNameBttn.addEventListener("click", function(event){
            event.preventDefault();
            fetch("/search-by-name?partial="+searchNameInput.value)
            .then(response=>response.json())
            .then(data=>{
                const table=document.querySelector("table")
                table.innerHTML=`<tr>
                    <th>Problem Name</th>
                    <th>Topic</th>
                    <th>Difficulty</th>
                    <th>Last Reviewed</th>
                    <th>Action</th>
                </tr>`
                for (const problem of data) {
                    buildRow(problem,table);
                }
            })
        })

        button.addEventListener("click", function(event){
            event.preventDefault();
            fetch("/add-problem",{
                method: "POST",
                headers:{"Content-Type": "application/json"},
                body: JSON.stringify({name:nameInput.value,topic: topicInput.value, difficulty:difficultyInput.value, hint:neededHint.checked })


            })
            .then(response => response.json())
            .then(data=>console.log(data))
            .then(loadProblems)
            .then(()=> {nameInput.value="";topicInput.value= ""; difficultyInput.value="";neededHint.checked= false });
           
        });

        function buildRow(problem,table){
            const newRow= document.createElement("tr")

            //name cell
            const nameCell=document.createElement("td");
            nameCell.textContent=problem.name;
            newRow.appendChild(nameCell);
            //topic cell
            const topicCell= document.createElement("td");
            topicCell.textContent=problem.topic;
            //pencil icon

            const pencilBttn= document.createElement("button");
            pencilBttn.textContent="✏️";

            topicCell.appendChild(pencilBttn);
            newRow.appendChild(topicCell);
            //difficulty cell
            const difficultyCell=document.createElement("td");
            difficultyCell.textContent=problem.difficulty;
            newRow.appendChild(difficultyCell);

            //last_reviewed cell
            const dateCell= document.createElement("td");
            dateCell.textContent=problem.last_reviewed;
            newRow.appendChild(dateCell);

            const actionsCell=document.createElement("td")

            const deleteBttn=document.createElement("button");
            deleteBttn.textContent= "Delete"
            // when clicked, send this problem's id to Flask to delete it, then refresh the table
            deleteBttn.addEventListener("click", function(event){
                event.preventDefault();
                fetch("/delete-problem", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ id: problem.id })
                })
                .then(response=> response.json())
                .then(data=> {
                    console.log(data)
                    loadProblems(); // refresh the table after a successful delete
            });
            });

            actionsCell.appendChild(deleteBttn)
            
            const editBttn= document.createElement("button");
            editBttn.textContent="Edit Topic";
            editBttn.addEventListener("click", function(event){
                event.preventDefault();
                const newTopic= prompt("Enter new topic:");
                if (newTopic){
                    fetch("/edit-topic", {
                        method: "PUT",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({ topic: newTopic, id: problem.id })
                    })
                .then(response=> response.json())
                .then(data=> {
                    console.log(data)
                    loadProblems(); // refresh the table after a successful delete
            })};
            });

            pencilBttn.addEventListener("click", function(event){
                event.preventDefault();
                topicCell.innerHTML=""; //clear existing content
                const input= document.createElement("input")
                //input.value= ""; //prefill with current value
                topicCell.appendChild(input);

               
                
                input.addEventListener("keydown", function(event){
                    if(event.key=="Enter"){
                        if (input.value==""){return;}
                        fetch("/update-field", {
                        method: "PUT",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({ field: "topic", id: problem.id, value: input.value })
                        
                    })
                    
                    .then(response=>response.json())
                    .then(data=> {
                        console.log(data);
                        loadProblems();

                    });
                    
                  
                }
                })
                input.addEventListener("blur", function(){
                    topicCell.innerHTML="";
                    topicCell.textContent=problem.topic;
                    topicCell.appendChild(pencilBttn);

                })
            
            })
            
            
            actionsCell.appendChild(editBttn)
            newRow.appendChild(actionsCell)
            table.appendChild(newRow)
        }

        function loadProblems(){
            // fetch all problems from the backend
            fetch("/get-problems")
            .then(response=> response.json())
            .then(data=> {

                const table= document.querySelector("table")
                table.innerHTML= 
                `<tr>
                    <th>Problem Name</th>
                    <th>Topic</th>
                    <th>Difficulty</th>
                    <th>Last Reviewed</th>
                    <th>Action</th>
                </tr>`
                // build one table row per problem
                for (const problem of data) {
                    buildRow(problem,table)
                }
            })      
        }

        loadProblems()

        
        
    </script>
</body>



</html>