<!DOCTYPE html>
<html>
<head>
    <title>Data Structures and Algorithms Tracker</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>DS&A Tracker</h1>
    <form>
        <p>Add a new problem: </p>
        <label for ="name">Problem Name: </label>
        <input type="text" id="name" name="name">

        <label for="topic">Topic: </label>
        <input type="text" id="topic" name="topic">

        <label for="difficulty">Difficulty: </label>
        <select id="difficulty" name="difficulty">
            <option value="Easy">Easy</option>
            <option value="Medium">Medium</option>
            <option value = "Hard">Hard</option>
        </select>

        <input type="checkbox" id="needsHint" name="needsHint">
        <label for="needsHint">Needed a hint? </label>
        
        <button type="submit">Add Problem</button>
    </form>
    
    <button type="button" id="reviewButton">See Problems Needing Review</button>

    <table>
        <tr>
            <th>Problem Name</th>
            <th>Topic</th>
            <th>Difficulty</th>
            <th>Last Reviewed</th>
        </tr>
        
    </table>
    <script>
        const button= document.querySelector("button")
        const nameInput=document.getElementById("name");
        const topicInput= document.getElementById("topic");
        const difficultyInput= document.getElementById("difficulty");
        const neededHint=document.getElementById("needsHint")
        const reviewButton=document.getElementById("reviewButton")
        
        reviewButton.addEventListener("click", function(event){
            event.preventDefault();
            fetch("/get-needs-review")
            .then(response=> response.json())
            .then(data=> {
                const table= document.querySelector("table")
                table.innerHTML= `<tr>
                    <th>Problem Name</th>
                    <th>Topic</th>
                    <th>Difficulty</th>
                    <th>Last Reviewed</th>
                </tr>`

                for (const problem of data) {
                    const newRow= document.createElement("tr")
                    newRow.innerHTML= `<td>${problem.name}</td><td> ${problem.topic}</td><td>${problem.difficulty}</td><td>${problem.last_reviewed}</td>`
                    table.appendChild(newRow)
                 
                }
            })

        });

        button.addEventListener("click", function(event){
            event.preventDefault();
            fetch("/add-problem",{
                method: "POST",
                headers:{"Content-Type": "application/json"},
                body: JSON.stringify({name:nameInput.value,topic: topicInput.value, difficulty:difficultyInput.value, hint:neededHint.checked })


            })
            .then(response => response.json())
            .then(data=>console.log(data))
            .then(loadProblems)
            .then(()=> {nameInput.value="";topicInput.value= ""; difficultyInput.value="";neededHint.checked= false });

            //console.log(nameInput.value, topicInput.value, difficultyInput.value, neededHint.checked)
           
        });
        function loadProblems(){
            fetch("/get-problems")
            .then(response=> response.json())
            .then(data=> {
                const table= document.querySelector("table")
                for (const problem of data) {
                    const newRow= document.createElement("tr")
                    newRow.innerHTML= `<td>${problem.name}</td><td> ${problem.topic}</td><td>${problem.difficulty}</td><td>${problem.last_reviewed}</td>`
                    table.appendChild(newRow)
                 
                }
            })

        }
        loadProblems()
        
    </script>
</body>



</html>